<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.min.css" />
</head>
<body>
<a class="btn" id="back-to-top"></a>
<script type="text/javascript">
    jQuery(document).ready(function($){
        /**
         * 回到顶部
         */
        $('#back-top').click(function(){
            $('html,body').stop();
            $('html,body').animate({
                scrollTop:'0px'
            },1000);
        });

        /**
         * 回到底部
         */
        $('#back-end').click(function(){
            $('html,body').stop();
            $('html,body').animate({
                scrollTop:$('#footer').offset().top
            },1000);
        });
    });


</script>
</body>
</html>