    <label><h5 class="white-text center-align" style="margin-top: 230px;"><%= movie.title %></h5></label>
    <div class="responsive-video center-align"  controls>
        <iframe width="853" height="480" src="<%= movie.src %>" frameborder="0" allowfullscreen></iframe>
    </div>