        <!-- 侧边导航栏 -->
    <ul id="slide-out" class="sidenav">
        <% if (user) { %>
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="/img/bg.jpg">
                    </div>
                    <!--显示用户头像-->
                    <a href="#user">
                        <img class="circle" src="/img/<%= user.avatar %>">
                    </a>
                    <!--显示用户名称-->
                    <a href="#name">
                        <span class="white-text name"><%= user.name %></span>
                    </a>
                    <!--显示用户邮箱-->
                    <a href="#email">
                        <span class="white-text email"><%= user.email %></span>
                    </a>
                </div>
            </li>
            <li>
                <a href="/posts/create">
                    <i class="material-icons">create</i>Write your Eassy</a>
            </li>
            <li>
                <a href="/signOut">
                    <i class="material-icons">arrow_downward</i>SignOut</a>
            </li>
            <li>
                <div class="divider"></div>
            </li>
            <li>
                <a class="subheader">Tools</a>
            </li>
            <li>
                <a class="waves-effect">
                    <i class="material-icons">keyboard_arrow_up</i>to top</a>
            </li>
            <li>
                <a class="waves-effect">
                    <i class="material-icons">keyboard_arrow_down</i>to bottom</a>
            </li>
        <% } else { %>
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="img/bg.jpg">
                    </div>
                </div>
            </li>
            <li>
                <a href="/signUp">
                    <i class="material-icons">cloud</i>signUp</a>
            </li>
            <li>
                <a href="/signIn">
                    <i class="material-icons">arrow_upward</i>SignIn</a>
            </li>
            <li>
                <div class="divider"></div>
            </li>
            <li>
                <a class="subheader">Tools</a>
            </li>
            <li>
                <a class="waves-effect" >
                    <i class="material-icons">keyboard_arrow_up</i>to top</a>
            </li>
            <li>
                <a class="waves-effect" >
                    <i class="material-icons">keyboard_arrow_down</i>to bottom</a>
            </li>
        <% } %>

    </ul>
    
    <!-- 侧边导航栏启动按钮 -->
    <div class="fixed-action-btn">
        <a href="#" id="sidenav_button" data-target="slide-out" class="btn-floating btn-large waves-effect waves-light red sidenav-trigger">
            <i class="material-icons">person</i>
        </a>
    </div>

    <div class="fixed-action-btn" id="mode_edit">
        <a class="btn-floating btn-large green">
            <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
            <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
            <li><a class="btn-floating red" id="toTop"><i class="material-icons">keyboard_arrow_up</i></a></li>
            <li><a class="btn-floating yellow darken-1" id="toBottom"><i class="material-icons">keyboard_arrow_down</i></a></li>
        </ul>
    </div>

        <!-- 活动悬浮按钮 -->
   <%#  <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
            <li>
                <a class="btn-floating red">
                    <i class="material-icons">insert_chart</i>
                </a>
            </li>
            <li>
                <a class="btn-floating yellow darken-1">
                    <i class="material-icons">format_quote</i>
                </a>
            </li>
            <li>
                <a class="btn-floating green">
                    <i class="material-icons">publish</i>
                </a>
            </li>
            <li>
                <a class="btn-floating blue">
                    <i class="material-icons">attach_file</i>
                </a>
            </li>
        </ul>
    </div>
 %>