    <!-- 提示栏 -->
    <div class="container">
        <div class="container">
            <div class="container">
                <div id="card_alert" class="card yellow pulse">
                    <% if (success) { %>
                        <ul class="collection z-depth-3">
                            <li class="collection-item green-text">
                                <a href="#!" class="secondary-content">
                                    <i class="material-icons green-text Small">check</i>
                                </a>
                                <div class="center-align">
                                    <%= success %>
                                </div>
                            </li>
                        </ul>
                    <% } %>

                    <% if (error) { %>
                        <ul class="collection z-depth-3">
                            <li class="collection-item red-text">
                                <a href="#!" class="secondary-content">
                                    <i class="material-icons red-text">close</i>
                                </a>
                                <%= error %>
                            </li>
                        </ul>
                    <% } %>
                </div>
            </div>
        </div>
    </div>