<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <!-- jquery 必须先加载 -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</head>

<body>

    <!-- 侧边导航栏 -->
    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="images/bg.jpg">
                </div>
                <a href="#user">
                    <img class="circle" src="images/user.jpg">
                </a>
                <a href="#name">
                    <span class="white-text name">John Doe</span>
                </a>
                <a href="#email">
                    <span class="white-text email">jdandturk@gmail.com</span>
                </a>
            </div>
        </li>
        <li>
            <a href="#!">
                <i class="material-icons">cloud</i>First Link With Icon</a>
        </li>
        <li>
            <a href="#!">Second Link</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a class="subheader">Subheader</a>
        </li>
        <li>
            <a class="waves-effect" href="#!">Third Link With Waves</a>
        </li>
    </ul>

    <!-- 主导航栏 -->
    <nav>
        <div class="nav-wrapper blue lighten-1">
            <a href="#!" class="brand-logo">
                <i class="material-icons">cloud</i>Logo</a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="#">
                        <i class="material-icons">search</i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="material-icons">view_module</i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="material-icons">refresh</i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="material-icons">more_vert</i>
                    </a>
                </li>
            </ul>
            <!-- <a href="#" data-target="slide-out" class="sidenav-trigger btn">User</a> -->
        </div>
    </nav>

    <!-- 侧边导航栏启动按钮 -->
    <a href="#" id="sidenav_button" data-target="slide-out" class="btn-floating btn-large waves-effect waves-light yellow sidenav-trigger">
        <i class="material-icons">menu</i>
    </a>

    <!-- 活动悬浮按钮 -->
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
            <li>
                <a class="btn-floating red">
                    <i class="material-icons">insert_chart</i>
                </a>
            </li>
            <li>
                <a class="btn-floating yellow darken-1">
                    <i class="material-icons">format_quote</i>
                </a>
            </li>
            <li>
                <a class="btn-floating green">
                    <i class="material-icons">publish</i>
                </a>
            </li>
            <li>
                <a class="btn-floating blue">
                    <i class="material-icons">attach_file</i>
                </a>
            </li>
        </ul>
    </div>

    <!-- 简单卡片 -->
    <div class="container">
        <div class="row">
            <div class="col s12 m12">
                <div class="card ">
                    <div class="card-content ">
                        <span class="card-title materialize-red-text">Card Title</span>
                        <p class="black-text">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 文章修改页 -->
    <div class="container">
        <div class="row">
            <div class="col s12 m12">
                <div class="card">
                    <div class="card-content ">
                        <span class="card-title materialize-red-text">Edit Eassy</span>
                        <div class="row">
                            <!-- 表单域 -->
                            <form class="col s12 m12 " method="POST" enctype="multipart/form-data">
                                <div class="container">
                                    <!-- 输入标题 -->
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <!-- 注意设置表单的 name 属性，根据name属性取值 -->
                                            <input name="title" id="title" type="text" class="validate">
                                            <label for="title">title</label>
                                        </div>
                                    </div>
                                    <!-- 输入文章内容 -->
                                    <textarea name="content" style="height: 500px; margin-bottom: 30px;"></textarea>
                                    <!-- 提交表单的按钮，input type 为 submit -->
                                    <button href="#" class="waves-effect waves-light blue btn right" type="submit" name="action" id="submit_btn">Submit
                                            <i class="material-icons right">send</i>
                                        </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 留言页 -->
    <div class="container">
        <div class="row">
            <div class="col s12 m12">
                <div class="card">
                    <div class="container">
                        <div class="card-content yellow lighten-3">
                            <span class="card-title center-align materialize-red-text">Write your comment...</span>
                        </div>

                        <!-- 表单域 -->
                        <form class="col s12 m12 " method="POST" enctype="multipart/form-data">
                            <!-- 输入留言内容 -->
                            <textarea name="content" style="height: 200px; margin-bottom: 30px;"></textarea>

                            <div style="float: left;">
                                <a style="vertical-align: middle">2018-06-16</a>
                                <a style="vertical-align: middle; margin-left: 10px;">by Illya</a>
                                <a style="vertical-align: middle">, a night girl</a>
                            </div>
                            <!-- 提交表单的按钮，input type 为 submit -->
                            <button href="#" class="waves-effect waves-light blue btn right" type="submit" name="action" id="submit_btn">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col s12 m12">
                <div class="card light-blue darken-1">
                    <div class="container">
                        <div class="card-content white-text">
                            <span class="card-title">Comments</span>
                            <p>Test</p>
                        </div>
                        <div class="card-action" style="height: 70px;">
                            <a href="#" style="color: red">This is a link</a>
                            <a href="#">This is a link</a>
                            <a href="/comments/<%= comment._id %>/remove" class="btn-floating materialize-red" style="float: right;">
                                <i class="material-icons right">clear</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col s12 m12">
                <div class="card">
                    <div class="card content">
                        <div class="container">
                            <input name="postId" value="<%= post._id %>" hidden/>
                            <!-- <textarea name="content" style="height: 200px; margin-top: 40px; margin-bottom: 30px;">
                            </textarea> -->
                            <div class="text" style="margin-top: 40px; margin-bottom: 30px;">
                                <%- comment.content %>
                            </div>
                        </div>
                    </div>
                    <div class="card-action" style="height: 70px;">
                        <!-- 显示留言的信息 -->
                        <a style="vertical-align: middle">
                        </a>
                        <a style="vertical-align: middle; margin-left: 10px;">by</a>
                        <a style="vertical-align: middle">,</a>
                        <!-- 用户可以删除自己的留言 -->
                        <a href="/comments/<%= comment._id %>/remove" class="btn" style="float: right; vertical-align: middle; margin-bottom: 20px;">remove</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 水平卡片 -->
    <div class="container">
        <div class="row">
            <div class="col s12 m12">
                <div class="card horizontal">
                    <img class="circle" src="images/user.jpg" style="margin-top: 30px; margin-left: 30px; margin-right: 10px;" width="100px" height="100px">
                    <div class="card-stacked">
                        <div class="card-content">
                            <a href="#" class="card-title materialize-red-text">Card Title</a>
                            <p>I am a very simple card. I am good at containing small bits of information.</p>
                        </div>
                        <div id="btn_dropdown" class="card-action">
                            <a style="vertical-align: middle">2018-06-16</a>
                            <a style="vertical-align: middle">browse(245)</a>
                            <a style="vertical-align: middle">comment(234)</a>

                            <!-- Dropdown Trigger -->
                            <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Edit Me！</a>

                            <!-- Dropdown Structure -->
                            <ul id='dropdown1' class='dropdown-content'>
                                <li>
                                    <a href="#!">edit</a>
                                </li>
                                <li>
                                    <a href="#!">delete</a>
                                </li>
                                <li class="divider" tabindex="-1"></li>
                                <li>
                                    <a href="#!">three</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 登录表单（放在简单卡片中） -->
    <div class="container">
        <div class="row">
            <div class="col s12 m12">
                <div class="card z-depth-1">
                    <div class="card-content">
                        <span class="card-title materialize-red-text">Login Form</span>
                        <div class="container">
                            <div class="row">
                                <!-- 表单域 -->
                                <form class="col s12" method="POST" enctype="multipart/form-data">
                                    <!-- 输入用户名 -->
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <!-- 注意设置表单的 name 属性，根据name属性取值 -->
                                            <input name="name" id="name" type="text" class="validate" placeholder="Length between 1~10 letters">
                                            <label for="name">User Name</label>
                                        </div>
                                    </div>
                                    <!-- 输入用户密码 -->
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input placeholder="Length between 6~16" name="password" type="password" class="validate">
                                            <label for="password">Password</label>
                                        </div>
                                    </div>
                                    <!-- 提交表单的按钮，input type 为 submit -->
                                    <button href="#" class="waves-effect waves-light blue btn right" type="submit" name="action" id="submit_btn">Submit
                                        <i class="material-icons right">send</i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 注册表单(放在简单卡片中) -->
    <div class="container">
        <div class="row">
            <div class="col s12 m12">
                <div class="card ">
                    <div class="card-content ">
                        <span class="card-title materialize-red-text">Register Form</span>
                        <div class="container">
                            <div class="row">
                                <form class="col s12" action="#">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="name" type="text" class="validate">
                                            <label for="name">User Name</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <select id="gender">
                                                <option value="1">male</option>
                                                <option value="2">female</option>
                                                <option value="3">secret</option>
                                            </select>
                                            <label>Gender</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="email" type="email" class="validate">
                                            <label for="email">Email</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input placeholder="Length between 6~16" id="password" type="password" class="validate">
                                            <label for="password">Password</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="bio" type="text" class="validate">
                                            <label for="bio">Your biography</label>
                                            <span class="helper-text" data-error="wrong" data-success="right">Your hobby, school, works and projects</span>
                                        </div>
                                    </div>
                                    <div class="file-field input-field">
                                        <div class="btn">
                                            <span>Choose File</span>
                                            <input type="file" id="avatar">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text">
                                        </div>
                                    </div>
                                    <!-- 提交表单的按钮，input type 为 submit -->
                                    <button href="#" class="waves-effect waves-light blue btn right" type="submit" name="action" id="submit_btn">Submit
                                        <i class="material-icons right">send</i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 页脚 -->
    <footer class="page-footer green">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li>
                            <a class="grey-text text-lighten-3" href="#!">Link 1</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="#!">Link 2</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="#!">Link 3</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="#!">Link 4</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2018 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>

</body>
<script type="text/JavaScript">
    $(document).ready(function() { $('.sidenav').sidenav({ edge:'right', inDuration:300 }); $('.fixed-action-btn').floatingActionButton(); $('select').formSelect(); $('.dropdown-trigger').dropdown();} );
</script>

</html>