    <!-- 页脚 -->
    <footer class="page-footer blue lighten-1">
        <a name="bottom"></a>
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">SimpleBlog</h5>
                    <p class="grey-text text-lighten-4">This is a test blog for JavaScript class.</p>
                </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2018 Copyright
                <a class="white-text text-lighten-1 right" href="https://github.com/Ubilabs-NicholasCheng/SimpleBlog">See on Github</a>
            </div>
        </div>
    </footer>

    <script type="text/javascript">
        $(document).ready(function() {
            //sidenav 弹出的方法
            $('.sidenav').sidenav({ edge:'left', inDuration:300 });

            //悬浮按钮的方法
            $('.fixed-action-btn').floatingActionButton();

            //显示选择框
            $('select').formSelect();

            // 提交表单后 Toast 显示提示信息
            $('#submit_btn').click(function(){
                M.toast({
                    html: 'Posting...',
                    displayLength: 3000,
                    classes: "rounded blue"
                });
            });

            // 设置提示的notification 逐渐消失
            $('#card_alert').delay(1500).fadeOut(3000);

            //设置 post-content卡片 按钮的dropdown效果
            $('.dropdown-trigger').dropdown();
            // 获取Markdown编辑区

            console.log($('.form-group').length)

            //判断是否存在textarea元素，若存在，则渲染为SimpleMarkdownEditor界面
            if($('.form-group').length > 0){
                var simplemde = new SimpleMDE({
                    element: $("#editor")[0],
                    indentWithTabs: false,
                    tabSize: 4,
                    status: false,
                    autosave: {
                        enabled: false
                    },
                    spellChecker: false,
                    renderingConfig: {
                        codeSyntaxHighlighting: true
                    }
                });
                var testPlain = simplemde.value(),
                    testMarkdown = simplemde.markdown(testPlain);
            }
        });
        $ (function () {
            $(".preloader-wrapper").fadeOut(1000);
            $('.preloader-background').delay(1000).fadeOut('slow');

            var speed = 1000;
            $("#toTop").click( function () {
                $( "html, body").animate({ "scrollTop" : 0 }, speed);
            });
            //回到底部
            var windowHeight = parseInt(document.body.scrollHeight);//网页正文全文高
            console.log(windowHeight);
            $("#toBottom").click(function () {
                $( "html, body").animate({ "scrollTop" : windowHeight }, speed);
            });
        });

        hljs.initHighlightingOnLoad();
    </script>
    </body>

</html>